/*Typography*/
#topten {
  text-align: right;
  font-family: 'Titillium Web', sans-serif;
  color: white;
  text-shadow: 3px 3px black;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
}

#youshould {
  text-align: right;
  color: white;
}
/*------------------------*/

/*Bootstrap Formatting*/
.jumbotron {
  margin: 0;
  padding: 10px 0px 10px 0px;
  background-color: #337ab7;
}

.col-sm-12, .col-sm-8, .col-sm-6, .col-sm-4 {
  padding: 20px;
}
/*-------------------------*/

/*Images Formatting*/
img {
  height: 15vw;
  float: left;
  margin-right: 10px;
}

.col-sm-4 > img {
  height: 10vw;
  float: left;
  margin-right: 10px;
}

.col-sm-6 > img {
  height: 10vw;
  float: left;
  margin-right: 10px;
}
/*-------------------------*/

.btn {
  float:right;
}

footer{
  color: white;
  padding: 10px;
  margin-top: 5px;
  text-align: center;
  background-color: #337ab7;
  font-family: 'Titillium Web', sans-serif;
}

/*Ruby page specific CSS*/
#matsu {
  float: right;
  margin-left: 10px;
}

#signup {
  display: flex;
  justify-content: center;
}
